
{% extends "blog/base.html" %}
{% load staticfiles %}
{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">

{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset >
                <legend >Blog Post</legend>
                {{ form }}
            </fieldset>
            <div >
                <button  type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}