{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article>
          <img src="{{ post.author.profile.image.url }}">
          <div >
            <div >
              <a href="">{{ post.author }}</a>
              <small >{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}